@media only screen and (max-width: 600px) {


   
    body {
        margin: 0 25px;
        overflow-x: 0;

    }

    h2 {
        padding: 0 10px;
    }

    .menu-icon {
        display: none;
    }
    
    .nav-bar {
        display: none;
    }

    .first-container {
        display: flex;
        flex-direction: column;
        padding: 0;
        align-items: center;
        text-align: center;

    }
    .heading {
        padding: 20px 10px;
    }
    .first-container p {
        align-items: center;
        justify-content: center;
        display: flex;
        padding: 0 20px 10px;
    }
    .first-container a {
        margin: 0 5px;
    }
    .first-container img {
        height: 400px;
        width: 350px;
        left: 620px;
        padding: 0 ;
    }
    .calculator {
        display: none;
        /* position: absolute;
        height: 5px;
        width: 10px;
        bottom: 20px;
        left: 20px; */
    }
    .teacher {
        display: none;
    }
    .book {
        display: none;
    }
    .award {
        display: none;
    }

    .second-container {
        display: flex;
        flex-direction: column;
        padding-top: 70px;
        align-items: center;
        text-align: center;

    }
    .second-container img {
        padding: 0 10px !important;
        height: 30px;
        width: 90px;
    }
    
    .third-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        text-align: center;
    }
    .third-container .text {
        padding: 0 10px;
    }
    
    .third-container img {
        display: block;

        height: 350px;
        width: 300px;
        left: 620px;
        padding-top: 0;
    }

    .fourth-container {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }

    .fourth-container .icons {
        
        display: flex;
        grid-template-columns: 2px;
        grid-template-rows: 2px;
        gap: 10px;

    }
    
    .icons-child {
        width: 100%;
        flex: 1;
        padding: 0;
        overflow-x: 0;

    }

    .icon-first-container {
        /* width: 25%; */
        flex: 1;

    }

























}